# Virtual environment
venv/
env/

# Local database
data/*.db

# Generated output files
output/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Visual Studio
.vs/

# VS Code
.vscode/